.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 2rem;
}

.mHero {
  position: relative;
  flex-direction: column;
  min-height: 365px;
  overflow: hidden;
  padding: 100px 0 75px;
  background-color: #141920;
}

.mHero.withPicture {
  color: #fff;
  background-color: #141920;
}

@media only screen and (min-width: 80rem) {
  .mHero.withPicture {
    min-height: 565px;
  }
}

@media only screen and (min-width: 48rem) {
  .mHero.withPicture {
    min-height: 450px;
  }
}

@media only screen and (min-width: 48rem) {
  .mHero {
    min-height: 400px;
    padding: 150px 0 75px;
  }
}

.mHeroPicture {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.7;
}

.mHeroPicture.inPost {
  opacity: 1;
}

.post {
  max-width: 720px;
  margin: 5rem auto 0;

  h1 {
    font-size: 3rem;
    font-weight: 900;
    text-align: center;
  }

  time {
    display: block;
    font-size: 1rem;
    text-align: center;
    color: var(--gray-300);
    margin-top: 1.5rem;
  }

  .postContent {
    margin-top: 2rem;
    line-height: 2rem;
    font-size: 1.125rem;
    color: var(--gray-100);

    iframe {
      width: 100%;
      height: 400px;
    }

    p,
    ul {
      margin: 1.5rem 0;
    }

    ul {
      padding-left: 1.5rem;
      li {
        margin: 0.5rem 0;
      }
    }

    &.previewContent {
      background: linear-gradient(var(--gray-100), transparent);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }
}

.continueReading {
  padding: 2rem;
  text-align: center;
  background: var(--gray-850);
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 4rem 0 2rem;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1);
  }

  a {
    color: var(--yellow-500);
    margin-left: 0.5rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
